@import "tailwindcss";
@plugin "../plugin.ts";
@source "../node_modules/@barrelrolla/react-components-library/";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-main: #faf7f2;
  --color-main-content: #1c1c1c;
  --color-primary: #ffffff;
  --color-primary-content: #ff6b00;
  --color-secondary: #f3ede3;
  --color-secondary-content: #f3ede3;
  --color-accent: #ffe8d6;
  --color-accent-content: #d95d00;
  /* --color-info: #3b82f6;
  --color-info-content: #ffffff;
  --color-success: #22c55e;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #ffffff;
  --color-error: #ef4444;
  --color-error-content: #ffffff; */
  --radius-inputs: 0.5rem;
  --default-font-weight: 500;
  --radius-navigation: 0;
  --border-navigation: 1px;
  --mod-highlight-primary: -0.05;
  --hero-height: 600px;
  --max-content-width: 1280px;
  --border-transparency: 20%;
  --floating-ui-scrollbar-width: 0px;
  scrollbar-gutter: auto;
}

.dark {
  --color-main: #090b10;
  --color-main-content: #f8f9fa;
  --color-primary: #ffffff;
  --color-primary-content: #ff6b00;
  --color-secondary: #1b2230;
  --color-secondary-content: #f8f9fa;
  --color-accent: #2a1a0d;
  --color-accent-content: #ffb37a;
  /* --color-info: #60a5fa;
  --color-info-content: #ffffff;
  --color-success: #22c55e;
  --color-success-content: #ffffff;
  --color-warning: #fbbf24;
  --color-warning-content: #000000;
  --color-error: #f87171;
  --color-error-content: #ffffff; */
}

@theme inline {
  --font-sans: var(--font-manrope);
  --font-heading: var(--font-fraunces);
  --font-logo: var(--font-lobster);
}

body {
  background-color: var(--color-main);
  color: var(--color-main-content);
}

main {
  @apply min-h-screen max-w-(--max-content-width) mx-auto;
}

@utility hero-fade {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--color-main) 0%, transparent 50%);
}

@utility hero-fade-mobile {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, var(--color-main) 15%, transparent 55%);
}
